{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет пользователя</title>
  <link rel="stylesheet" href="{% static 'project_beta/css/style.css' %}">
</head>
<body>
  <header class="top-bar">
    Excel Manager
  </header>
  <header>
    <h1>Добро пожаловать, Иван Иванов</h1>
  </header>
  <div class="container">
    <div class="profile">
      <!-- Здесь можно разместить реальное фото -->
      <img src="images/user_placeholder.png" alt="Фото пользователя" class="profile-photo">
      <p>Иван Иванов</p>
    </div>
    <div class="actions">
      <a href="edit_profile.html" class="button">Редактировать данные профиля</a>
      <a href="user_create_table.html" class="button">Создать Excel таблицу</a>
      <a href="user_tables.html" class="button">Посмотреть свои Excel таблицы</a>
    </div>
  </div>
  <script src="{% static 'project_beta/js/script.js' %}"></script>
  <footer class="bottom-bar">
    2025 © Excel Manager. Все права защищены.
  </footer>
</body>
</html>
