{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мои таблицы</title>
  <link rel="stylesheet" href="{% static 'project_beta/css/style.css' %}">
</head>
<body>
  <header class="top-bar">
    Excel Manager
  </header>
  <header>
    <h1>Мои Excel таблицы</h1>
  </header>
  <div class="container">
    <table class="table-list">
      <thead>
        <tr>
          <th>Название таблицы</th>
          <th>Дата создания</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Таблица 1</td>
          <td>2025-02-03</td>
          <td>
            <a href="view_table.html" class="button small">Посмотреть</a>
            <a href="user_edit_table.html" class="button small">Редактировать</a>
          </td>
        </tr>
        <tr>
          <td>Таблица 2</td>
          <td>2025-02-07</td>
          <td>
            <a href="view_table.html" class="button small">Посмотреть</a>
            <a href="user_edit_table.html" class="button small">Редактировать</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p><a href="user_dashboard.html" class="button">Назад в кабинет</a></p>
  </div>
  <script src="{% static 'project_beta/js/script.js' %}"></script>
  <footer class="bottom-bar">
    2025 © Excel Manager. Все права защищены.
  </footer>
</body>
</html>
